# server/.env
PORT=5005
REDIS_URL=redis://host:port
MONGO_URI=mongodb+srv://username@password:url/db
STRIPE_SECRET_KEY=sk_test_secret_key
RAZORPAY_KEY_ID=razon_pay_key_id_example
RAZORPAY_KEY_SECRET=razor_pay_secret